@media screen and (max-width: 768px) {
  .conteinerDashboard {

    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 0 10px;
    
  }

  .sectionDashboard {
    padding: 0;
    width: 100vh;
}
}