@media screen and (max-width: 768px) {
  .conteinerDashboard {

    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
    
  }

  .sectionDashboard {
    padding: 0;
    width: 100vh;
}
}