.sectionDashboard {

    width: 94vw;
    padding: 0 2%;
    
}

.conteinerDashboard {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;

    padding-top: 20px;
    
}

.p-dialog-title {

    text-align: center;
    color: #0E213E;

    
}

.p-dialog-header-icon .p-dialog-header-close .p-link {
    
    display: none !important;
    
}

.footerForm {

    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
}

.p-dialog-header-icons {

    display: none !important;
    
}