.titleOrdens {

    font-size: 1.5em;
    color:#0E213E;
    
}

.conteinerOrdens {

    width: 98%;

    display: flex;
    flex-flow: column nowrap;
    gap: 0.9rem;

    height: 69.5vh;

    overflow: auto;

    padding-bottom: 16px;
    
}

.titlePDF {

    font-size: 20px;
    width: 600px;
    text-align: center;
    
}

.labelPDF {
    width: 500px;
}