.titleOrdens {
  font-size: 1.5em;
  color: #0e213e;
}

.conteinerOrdens {
  width: 98%;

  display: flex;
  flex-flow: column nowrap;
  gap: 10px;

  max-height: 69.5vh;

  overflow: auto;

  padding-bottom: 0px;
}
.divHeader {
  width: "2480px";
  display: "flex";
  background: "black";
}

.titlePDF {
  font-size: 20px;
  text-align: center;
  width: 600px;
}

.labelPDF {
  width: 500px;
}
